  <section class="boat-rudder__dashboard__settings-panel">
    <h2>%s%s</h2>
    %s
    <p>The 13 color variables from the project's Figma file. Applies to every epoch with a
       color model (1, 2 and 3) - epoch 3 gets these as CSS variables; epoch 1/2 (no CSS custom
       properties there) get a subset substituted straight into HTML attributes. Epoch -1/0 have
       no color model, nothing to apply here.</p>
    <form method="POST" action="/dashboard/settings/themes/%s/colors">
      <fieldset>
        <legend>Navbar</legend>
        <label>Background <input type="color" name="navbar-background" value="%s"></label>
        <label>Menu, normal <input type="color" name="navbar-menu-normal" value="%s"></label>
        <label>Menu, hover <input type="color" name="navbar-menu-hover" value="%s"></label>
        <label>Menu, active <input type="color" name="navbar-menu-active" value="%s"></label>
        <label>Logo <input type="color" name="navbar-logo" value="%s"></label>
      </fieldset>
      <fieldset>
        <legend>Body</legend>
        <label>Background <input type="color" name="body-background" value="%s"></label>
      </fieldset>
      <fieldset>
        <legend>Home content</legend>
        <label>Background <input type="color" name="home-content-background" value="%s"></label>
        <label>Text <input type="color" name="home-content-text" value="%s"></label>
      </fieldset>
      <fieldset>
        <legend>Blog list item</legend>
        <label>Background <input type="color" name="blog-list-item-background" value="%s"></label>
        <label>Border <input type="color" name="blog-list-item-border" value="%s"></label>
        <label>Author <input type="color" name="blog-list-item-author" value="%s"></label>
        <label>Categories <input type="color" name="blog-list-item-categories" value="%s"></label>
        <label>Date <input type="color" name="blog-list-item-date" value="%s"></label>
      </fieldset>
      <button class="boat-rudder__dashboard__button" type="submit">Save colors</button>
    </form>
    <ul>
      <li><a href="/dashboard/settings/themes/%s/banner">Edit banner</a></li>
      <li><a href="/dashboard/settings/themes/%s/footer">Edit footer</a></li>
    </ul>
  </section>
